{% extends "base.html" %}
{% block content %}
<div class="card mt-4">
    <div class="card-body">
        <h1 class="card-title">Rejestracja</h1>
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Nazwa użytkownika</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Hasło</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Zarejestruj</button>
        </form>
    </div>
</div>
{% endblock %}